body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 80%;
}

.accordion {
  list-style: none;
  padding: 0;
}

.accordion-item {
  border-bottom: 1px solid #ccc; /* Divider between accordion items */
}

.accordion-item:last-child {
  border-bottom: none; /* Remove the divider for the last item */
}

.accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-header:hover {
  background-color: black;
  color: white;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-item.open .accordion-content {
  display: block;
}

.accordion-item.open .plusSymbol {
  content: "-";
}

.factText {
  flex-grow: 1;
  padding: 10px;
  color: #000; /* Black text color */
}

.plusSymbol {
  padding: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}

.accordion-item.open .imgLogo {
  display: none;
}


.imgLogo {
  display: block;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  align-self: center;
}


.imgLogo2 {
  display: none;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.logoImg .imgLogo:hover {
  display: none;
 
}

.logoImg .imgLogo2 {
  display: none;
 
}

.logoImg .imgLogo:hover + .imgLogo2 {
  display: block;
  background-color: #000;
}

.img0{
  height: 150px;
  width: 200px;
  margin: 50px;
}